body {
    box-sizing: border-box;
}

.boom {
    cursor:url('../img/New Piskel-4.gif'), auto;
}

#strike {
    z-index: 2;
    position: absolute;
    top: 350px;

}

#bob {
    align-self: flex-end;
    position: absolute;
    z-index: 4;
}


#fireball {
    display: inline;
    height: 100px;
    width: 100px;
    animation-timing-function: linear;
    position: absolute;
    animation-name: fireballA;
    animation-duration: 3s;
    z-index: 5;
    user-select: none;
}

#fireball2 {
    display: inline;
    height: 100px;
    width: 100px;
    animation-timing-function: linear;
    position: absolute;
    animation-name: fireballB;
    animation-duration: 3s;
    z-index: 5;
    user-select: none;
}

#fireball3 {
    display: inline;
    height: 100px;
    width: 100px;
    animation-timing-function: linear;
    position: absolute;
    animation-name: fireballC;
    animation-duration: 3s;
    z-index: 5;
    user-select: none;
}

.fireballhide {
    display: none;
    animation-play-state: paused;
}

#imagesC {
    position: relative;
}

#buttonDiv {
    height: 100vh;
}

#bigDragon {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    user-select: none;
    z-index: 1;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    14%  {left:100px; top:-25px;}
    28%  {left:200px; top:0px;}
    37%  {left:100px; top:25px;}
    46% {left:0px; top:0px;}
    60%  {left:-100px; top:-25px;}
    74%  {left:-200px; top:0px;}
    88%  {left:-100px; top:25px;}
    100%  {left:0px; top:0px;}
 }

@keyframes fireballA {
    /*from { transform: scaleX(.5) scaleY(.5);}*/
    /*to   { transform: scaleX(1.5) scaleY(1.5);}*/
    0%   {left:10em; top:-10em;}

    100%  {left:50em; top:80em;}
}

@keyframes fireballB {
    /*from { transform: scaleX(.5) scaleY(.5);}*/
    /*to   { transform: scaleX(1.5) scaleY(1.5);}*/
    0%   {left:110em; top:-10em;}

    100%  {left:60em; top:80em;}
}

@keyframes fireballC {
    /*from { transform: scaleX(.5) scaleY(.5);}*/
    /*to   { transform: scaleX(1.5) scaleY(1.5);}*/
    0%   {left:50em; top:-10em;}

    100%  {left:60em; top:80em;}
}

/*@keyframes fireballC {*/
/*    !*from { transform: scaleX(.5) scaleY(.5);}*!*/
/*    !*to   { transform: scaleX(1.5) scaleY(1.5);}*!*/
/*    0%   {left:50em; top:-10em;}*/

/*    100%  {left:60em; top:80em;}*/
/*}*/

.pauseAni {
    animation-play-state: paused;
}