body {
    display: grid;
    grid-template-areas:
            "header header header header"
            "nav header article article"
            "nav article article article"
            "nav article article article"
            "nav ads ads ads"
            "footer footer footer footer";
    grid-template-rows: 20% repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}
header, footer, article, nav, div {
    padding: 1.2em;
    background: green;
}
header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
article {
    grid-area: article;
}
nav {
    grid-area: nav;
}
div {
    grid-area: ads;
}